aiofiles
aiohttp
asyncio
pyrogram==1.4.12
python-arq
python-dotenv
py-tgcalls==0.9.1
gitpython
requests
TgCrypto
wget
youtube-search-python==1.4.6
git+https://github.com/ytdl-patched/yt-dlp
speedtest-cli
youtube-search-python
